body {
  margin: 0px;
  background-color: #FFDBC5;
}

.cover {
  position: relative;
}

.name-container {
  position: absolute;
  top: 14vw;
}

.name {
  font-family: Lobster;
  color: #540031;
  font-size: 6vw;
}

.designation {
  font-family: Jaro;
  color: #FFDBC5;
  font-size: 5vw;
  margin-top: 7vw;
}

.subheading {
  color: #FF6B40 !important;
  text-decoration: none;
}

hr {
  border: dotted #540031 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.footer {
  background-color: #810132;
}

.color {
  color: #540031;
  transition: color 0.2s;
}

.color:hover {
  color: #FFDBC5;
}

.color-static {
  color: #FFDBC5;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.text-color {
  background-color: #810132;
}

.text-color > svg {
  fill: #FFDBC5;
}

.contact-btn {
  background-color: #810132;
  color: #FFDBC5;
}

.contact-btn:hover {
  background-color: #FF6B40;
  color: #FFDBC5;
}
